<div class="tab-pane fade show active">
    <div class="mainMonograph">
        <div class="monographHeader">
            <h2>@Details?.MonographName</h2>
            <p class="monographType">@Details?.MonographType</p>
        </div>
        <div class="monographContents">

            @if (Details?.MonographContents != null)
            {
                foreach (var item in Details.MonographContents)
                {
                    <div class="section">
                        <div class="header">@item.Header</div>
                        <div class="text">@item.Text</div>
                    </div>
                }
            }
        </div>
    </div>
</div>

@code {
    [Parameter] public MonographModel? Details { get; set; } = new();
}