<div class="tab-pane fade show active">
    <div class="monograph-card">
        <header class="monograph-header">
            <span class="monograph-type">@Details?.MonographType</span>
            <h1 class="monograph-name">@Details?.MonographName</h1>
            <div class="monograph-id">ID: @Details?.MonographId</div>
        </header>

        <main>
            @if (Details?.MonographContents != null)
            {
                foreach (var item in Details.MonographContents)
                {
                    <div class="content-section">
                        <div class="section-label">@item.Header</div>
                        <div class="section-text">@item.Text</div>
                    </div>
                }
            }
        </main>
    </div>
</div>


@code {
    [Parameter] public MonographModel? Details { get; set; } = new();
}