@using System.Text.Json
<div class="tab-pane fade show active">
    <pre>
        @GetPrettyJson()
    </pre>
</div>

@code {
    [Parameter] public MonographModel? Details { get; set; } = new();

    private string GetPrettyJson()
    {
        if (Details == null) return "No data available";

        var options = new JsonSerializerOptions
        {
            WriteIndented = true
        };

        return JsonSerializer.Serialize(Details, options);
    }
}