<div class="job-selector-container mx-2">
    <div class="header-section">
        <div class="title-group">
            <h2> ← Please Select Mongraph</h2>
            <p class="subtitle">Display details here</p>
        </div>
    </div>

    <div class="empty-state-content">
        <div class="illustration-wrapper">
            <div class="circle-bg">
                <i class="bi bi-window-stack illustration-icon"></i>
            </div>
        </div>
    </div>
</div>