.search-icon {
    display: inline-block;
    background-color: black;
    -webkit-mask-image: url('icons/search-solid.svg');
    mask-image: url('icons/search-solid.svg');
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-position: center;
    mask-position: center;
}
