[class*=".cicon-"] 
{
    display: block;
}

[class*=".cicon-"] {
    display: block;
}

[class*=".cicon-"]::before {
    content: '';
    display: block;
    width: 1em;
    height: 1em;
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-background-size: contain;
}

.cicon-search {
    mask-image: url('icons/search-solid.svg');
}
