@page "/"


@inject IMonograph _monograph

<div class="container-fluid p-0 text-center">
    <img src="images/header.svg" class="img-fluid w-100" alt="biogesic" />
</div>

<div class="flex justify-content-end p-5">
    <input type="text" class="form-control" placeholder="Search..." @bind-value="_search" />
    <i class="search-icon border-1 h-50">22</i>
</div>

